body {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  background-color: #333;
}

#container {
  width: 600px;
  margin: 0 auto;
  background-color: #222;
  border-left:  5px solid #444;
  border-right: 5px solid #444;
  border-bottom: 5px solid #444;
}

#banner {
  width: 100%;
  background-color: #FF0;
  border-bottom: 2px solid #000;
}
#banner span {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 0.75em;
  line-height: 2em;
  color: #008;
}

#tweets {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  color: #FFF;
}
.tweet span {
  display: inline;
  width: 215px;
}
.tweet .user,
.tweet .user a {
  color: #FFF;
  padding-top: 1.5em;
  font-family: Garabond, "Palatino Linotype", Georgia;
  text-decoration: none;
}
.tweet .text {
  padding-top: -2.5em;
  font-size: 5em;
  font-family: Helvetica;
}
.clearer {
  float: left;
  clear: both;
}